{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="col-md-6 col-md-offset-2 index">
        <h2>Login</h2>
        <form action="" method="post" class="form-group">
            {% csrf_token %}
            {{ form| crispy }}
            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok-sign"></span> Login</button>
            <p>
                <a href="{% url 'password_reset' %}">Forgot Password?</a>
            </p>
            <p>
                Don't have an account?
                <a href="{% url 'signup' %}">Signup</a>
            </p>
        </form>
    </div>
{% endblock content %}
