<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unique Overflow</title>
</head>
<body>
    <div>
        <nav>
            <div>Unique Overflow</div>
            <div>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact Admin</a></li>
                    <li><a href="{% url 'question_form' %}">Add Question</a></li>
                </ul>
            </div>
        </nav>
        
        {% block content %}
            
        {% endblock content %}

    </div>

</body>
</html>