{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <div class="col-md-8 col-md-offset-2 index ">
            <h3>All Questions</h3>
            <br />
            <h4>{{ questions.count }} questions</h4>
            {% for question in page_obj %}
                <hr />
                <div class="col-md-offset-1">
                    <h5>
                        <a href="{% url 'question_detail' question.slug %}">{{ question.topic |capfirst }}</a>
                    </h5>
                    <small >
                        <p class="text-right">
                            <a href="{% url 'profile' question.user.username %}">
                                {% if question.user.profile.profile_image %}
                                    <img src="{{ question.user.profile.profile_image.url }}"
                                         alt=""
                                         width="30px"
                                         height="20px"/>
                                {% endif %}
                                {{ question.user.username }}
                            </a>
                            <span class="text-muted">asked {{ question.date_posted.date }} at {{ question.date_posted.time }}</span>
                        </p>
                    </small>
                </div>
            {% endfor %}
        </div>
       <div class="col-md-12 text-center"> {% include 'pagination.html' %}</div>
    </div>
{% endblock content %}
