{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="question_detail container col-md-10 col-md-offset-1 index">
        <div>
            <div>
                <div class="pull-right">
                    {% if user == question.user %}
                        <a class="btn btn-danger"
                           href="{% url 'delete_question' question.slug %}">Delete</a>
                        <a class="btn btn-default"
                           href="{% url 'update_question' question.id %}">Update</a>
                    {% endif %}
                </div>
                <h4>{{ question.topic |capfirst }}</h4>
                <p class="text-muted text-right">
                    <small> <span>Asked {{ question.date_posted }}</span>&nbsp;
                    <span>Modified {{ question.date_modified }}</span></small>
                </p>
                <p>
                    {{ question.content | safe }}
                </p>
            </div>
            <hr />
        </div>
        <h4>{{ answers.count }} Answer(s)</h4>
        <div>
            {% for answer in answers %}
            <hr/>
                <p>
                    {{ answer.answer  | safe }}
                </p>
                <div class="col-md-offset-9 {% cycle 'bg-info' 'bg' %} " >
                    <small class="text-muted">answered {{ answer.date_posted }}</small>
                    <div class="media-left media-middle">
                        {% if answer.user.profile.profile_image %}
                            <img src="{{ answer.user.profile.profile_image.url }}"
                                 width="40px"
                                 height="40px"
                                 alt=""
                                 class="media-object"/>

                        {% else %}
                        <img src="{% static 'avatar.png' %}"
                                 width="40px"
                                 height="40px"
                                 alt=""
                                 class="media-object"/>

                        {% endif %}
                    </div>
                    <div class="media-body">
                        <p class="media-heading">
                            <a href="{% url 'users' %}">{{ answer.user.username |capfirst }}</a>
                            <br />
                            {% if user == question.user %}
                                <small >
                                    <a class="text-muted" href="{% url 'delete_answer' answer.pk %}">Delete</a>
                                    <a class="text-muted" href="{% url 'update_question' question.id %}">Update</a>
                                </small>
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- {% if new_answer %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>
                    <strong>Your answer has been posted</strong>
                </p>
            </div>
        {% endif %} -->
        {% include 'answer_form.html' %}
    </div>
{% endblock content %}
