{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div >
        {% if user.is_authenticated %}
            <div class="col-md-6 col-md-offset-2 index bio">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form | crispy }}
                    <button class="btn btn-primary" type="submit">Ask question</button>
                    <a href="{% url 'home' %}" class="btn btn-default">Cancel</a>
                </form>
            </div>
        {% else %}
            <div class="alert alert-warning " role="alert">
                <p >
                    You must
                    <a class="alert-link" href="{% url 'login' %}">Login</a>
                    to add question
                </p>
            </div>
        {% endif %}
    </div>
{% endblock content %}
